@model Taekwondo.Models.student

@{
    ViewBag.Title = "Details";
}
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="css/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel='stylesheet' href='https://use.fontawesome.com/releases/v5.7.0/css/all.css' integrity='sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ' crossorigin='anonymous'>
</head>
    </head>
<style>

    div {
        font-family: "Times New Roman", Times,sans-serif;
    }


    .button1 {
        background-color: white;
        color: black;
        border: 1px solid #555555;
        padding: 5px 5px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 12px;
        margin: 4px 2px;
        cursor: pointer;
        font-family: "Times New Roman", Times,sans-serif;
        font-color: "solid-black";
    }
</style>
<b>
    <h2><u><center>STUDENT DETAILS</center></u></h2>

    <div>
        <dl class="dl-horizontal">
            <hr />
            <dt>
                FIRST NAME
            </dt>

            <dd>
                @Html.DisplayFor(model => model.fname)
            </dd>

            <dt>
                LAST NAME
            </dt>

            <dd>
                @Html.DisplayFor(model => model.lname)
            </dd>

            <dt>
                DATE OF BIRTH
            </dt>

            <dd>
                @Html.DisplayFor(model => model.dob)
            </dd>

            <dt>
                EMAIL ID
            </dt>

            <dd>
                @Html.DisplayFor(model => model.email)
            </dd>

            <dt>
                PHONE NUMBER
            </dt>

            <dd>
                @Html.DisplayFor(model => model.phonenumber)
            </dd>

            <dt>
                ADDRESS LINE 1
            </dt>

            <dd>
                @Html.DisplayFor(model => model.address1)
            </dd>

            <dt>
                ADDRESS LINE 2
            </dt>

            <dd>
                @Html.DisplayFor(model => model.address2)
            </dd>

            <dt>
                CITY
            </dt>

            <dd>
                @Html.DisplayFor(model => model.city)
            </dd>

            <dt>
                PROVINCE
            </dt>

            <dd>
                @Html.DisplayFor(model => model.province)
            </dd>

            <dt>
                ZIPCODE
            </dt>

            <dd>
                @Html.DisplayFor(model => model.zipcode)
            </dd>

            <dt>
                STATUS
            </dt>

            <dd>
                @Html.DisplayFor(model => model.status)
            </dd>

            <dt>
                ENROLLMENT DATE
            </dt>

            <dd>
                @Html.DisplayFor(model => model.joindate)
            </dd>

            <dt>
                PARENT DETAILS
            </dt>

            <dd>
                @Html.DisplayFor(model => model.parentdetails)
            </dd>

            <dt>
                BELT COLOR
            </dt>

            <dd>
                @Html.DisplayFor(model => model.rank.rankbelt)
            </dd>

        </dl>
    </div><br />
    <p>
        <button class="button1" style="font-size:20px"> @Html.ActionLink("Go Back", "Index")<i class='fas fa-arrow-alt-circle-left'></i></button>
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        <button class="button1" style="font-size:18px">@Html.ActionLink("Edit Details", "Edit", new { id = Model.studentID })<i class="material-icons">mode_edit</i></button>

    </p>
</b>
