@model IEnumerable<Taekwondo.Models.student>

@{
    ViewBag.Title = "Student Records";
}
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="css/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
</head>
<style>

    table, th {
        border: 1px solid black;
        font-family: "Times New Roman", Times,sans-serif;
    }

    th, td {
        text-align: center;
        padding-top: 5px;
        height: 100px;
        width: 200px;
    }

    tr:nth-child(even) {
        background-color: #f2f2f2;
    }

    th {
        background-color: black;
        color: white;
        text-align: center;
        font-display: block;
        height: 80px;
        width: auto;
        font-color: "solid-black";
    }

    td {
        color: black;
    }

    .button {
        background-color: white;
        color: black;
        border: 2px solid #555555;
        padding: 5px 5px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 16px;
        margin: 4px 2px;
        cursor: pointer;
        font-family: "Times New Roman", Times,sans-serif;
        font-color: "solid-black";
    }

    .button1 {
        background-color: white;
        color: black;
        border: 1px solid #555555;
        padding: 5px 5px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 12px;
        margin: 4px 2px;
        cursor: pointer;
        font-family: "Times New Roman", Times,sans-serif;
        font-color: "solid-black";
    }
</style>

<h2><u><center>STUDENT RECORDS</center></u></h2>
<h3>
    <button class="button " style="font-size:16px">@Html.ActionLink("Add Record", "Create") <i class="material-icons">add_to_photos</i></button>
    </button>
</h3>


@using (Html.BeginForm("Index", "students", FormMethod.Get))
{
    <b>
        <p>
            &nbsp;&nbsp;
            Please Select Status: @Html.DropDownList("status", "All Status") &nbsp;&nbsp;
            Please Select City: @Html.DropDownList("city", "All Cities")&nbsp;&nbsp;
            Please Select Year: @Html.DropDownList("year", "All Years")&nbsp;&nbsp;
            Please Select Belt Color: @Html.DropDownList("rankID", "All Colors")

            <button class="button1" style="font-size:15px"><input type="submit" value="Search" /><i class="material-icons">youtube_searched_for</i></button>
        </p>
    </b>
}
<br />
<center>
    <b>
        <table id="table1" class="table">
            <th>
                STUDENT NO.
            </th>
            <th>
                FIRST NAME
            </th>
            <th>
                LAST NAME

            </th>
            <th>
                DATE OF BIRTH
            </th>
            <th>
                EMAIL
            </th>
            <th>
                PHONE NO
            </th>
            <th>
                ADDRESS LINE 1
            </th>
            <th>
                ADDRESS LINE 2
            </th>
            <th>
                CITY
            </th>
            <th>
                PROVINCE
            </th>
            <th>
                ZIPCODE
            </th>
            <th>
                STATUS
            </th>
            <th>
                JOIN DATE
            </th>
            <th>
                PARENT DETAILS
            </th>
            <th>
                BELT COLOR
            </th>
            <th>
                ACTION REQUIRED
            </th>
            </tr>

            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.studentID)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.fname)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.lname)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.dob)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.email)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.phonenumber)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.address1)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.address2)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.city)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.province)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.zipcode)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.status)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.joindate)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.parentdetails)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.rank.rankbelt)
                    </td>

                    <td>
                        <button class="button1" style="font-size:15px">@Html.ActionLink("Edit", "Edit", new { id = item.studentID })<i class="material-icons">mode_edit</i></button>
                        <button class="button1" style="font-size:15px">@Html.ActionLink("Details", "Details", new { id = item.studentID })<i class="material-icons">description</i></button>
                        <button class="button1" style="font-size:15px">@Html.ActionLink("Drop Out", "Delete", new { id = item.studentID })<i class="material-icons">delete</i></button>

                    </td>

                </tr>
            }

        </table>
    </b>
</center>
