@model IEnumerable<Taekwondo.Models.studentfee>

@{
    ViewBag.Title = "STUDENT'S FEES";
}
    <html>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href="css/bootstrap.min.css" rel="stylesheet" type="text/css" />
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
        <link href="@Url.Content("~/Content/themes/base/minified/jquery-ui.min.css")" rel="stylesheet" />
        <!-- Required jQuery and jQuery UI Javascript references -->
        <script src="@Url.Content("~/Scripts/jquery-1.7.1.min.js")"></script>
        <script src="@Url.Content("~/Scripts/jquery-ui-1.10.4.min.js")"></script>


    </head>
    <script type="text/javascript">
        $(function () {
            // This will make every element with the class "date-picker" into a DatePicker element
            $('.date-picker').datepicker();
        })
    </script>
    <style>

        table, th {
            border: 1px solid black;
            font-family: "Times New Roman", Times,sans-serif;
            width: auto;
        }

        th, td {
            text-align: center;
            padding-top: 5px;
            height: 50px;
            width: inherit;
        }

        tr:nth-child(even) {
            background-color: #f2f2f2;
        }

        th {
            background-color: black;
            color: white;
            text-align: center;
            font-display: block;
            height: 60px;
            font-color: "solid-black";
        }

        td {
            color: black;
        }

        .button {
            background-color: white;
            color: black;
            border: 2px solid #555555;
            padding: 5px 5px;
            text-align: center;
            text-decoration: none;
            display: inline-block;
            font-size: 16px;
            margin: 4px 2px;
            cursor: pointer;
            font-family: "Times New Roman", Times,sans-serif;
            font-color: "solid-black";
        }

        .button1 {
            background-color: white;
            color: black;
            border: 1px solid #555555;
            padding: 5px 5px;
            text-align: center;
            text-decoration: none;
            display: inline-block;
            font-size: 12px;
            margin: 4px 2px;
            cursor: pointer;
            font-family: "Times New Roman", Times,sans-serif;
            font-color: "solid-black";
        }
    </style>

    <h2><u><center>STUDENT'S FEE HISTORY</center></u></h2>

    <h3>
        <button class="button " style="font-size:15px">@Html.ActionLink("Add Record", "Create") <i class="material-icons">add_to_photos</i></button>
        </button>
    </h3>
    @using (Html.BeginForm("Index", "studentfees", FormMethod.Get))
    {
        <b>
            <p>
                &nbsp;&nbsp;
                Select the Range Start Date: <input type="date" name="startdate" />
                &nbsp;&nbsp;
                Select the Range End Date: <input type="date" name="enddate" />
             

                <button class="button1" style="font-size:15px"><input type="submit" value="Search" /><i class="material-icons">youtube_searched_for</i></button>

            </p>
        </b>
    }

    <b>
        <table class="table">
            <tr>
                <th>
                    FEE REFERENCE NO.
                </th>
                <th>
                    FEE DESCRIPTION
                </th>

                <th>
                    STUDENT NO
                </th>
                <th>
                    STUDENT FIRST NAME
                </th>
                <th>
                    STUDENT LAST NAME
                </th>
                <th>
                    STUDENT EMAIL
                </th>
                <th>
                    STUDENT PHONE NUMBER
                </th>
                <th>
                    FEE AMOUNT
                </th>
                <th>
                    PAID DATE
                </th>

            </tr>

            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.feeID)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.fee.feedesc)
                    </td>

                    <td>
                        @Html.DisplayFor(modelItem => item.studentID)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.student.fname)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.student.lname)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.student.email)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.student.phonenumber)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.fee.feeamount)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.paiddate)

                    </td>
                    
                </tr>
            }

        </table>
    </b>
